span.spaces-feature.feature-atrium_glossary {
  background: url(atrium_glossary-20.png);
}
#features-menu li a.icon-atrium_glossary span.icon {
  background: url(atrium_glossary-40.png);
}


div.view-atrium-glossary td.lightbox2 {
  font-size: 160%;
  font-weight: bold;
}
div#lightbox div.atrium-glossary {
  background-color: #fff;
}
div#lightbox div.atrium-glossary-term,
div#lightbox div.atrium-glossary-definition {
  font-family: Garamond, Times, "Times New Roman", serif;
  line-height: 120%;
  text-align: left;
}
div#lightbox div.atrium-glossary-term {
  color: #000;
  font-size: 220%;
  font-weight: bold;
  padding: 1em;
}
div#lightbox div.atrium-glossary-definition {
  color: #888;
  font-size: 150%;
  font-style: italic;
  padding: 1em 1em 2em 4em;
}
div#lightbox .imagefield {
  padding: 1em 1em 2em 1em;
}
div.view-atrium-glossary td.edit {
  font-size: 75%;
  text-align: right;
}
